@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  /* background-image: url("./assets/VideogameBG.jpg"); */
}
div.App {
  background-image: url("./assets/VideogameBG.jpg");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
