.divHome {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Press Start 2P", system-ui;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 7% 0; */
}
